.post {
    width: 47.5%;
    height: 20%;
    overflow: hidden;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 1%;
    /*float:left;*/
    border-radius: 15px;
    display: inline-block;
    
}
    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    overflow: hidden;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
    padding: 1.5rem;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    /*color: #fff;*/
    background-color: orange;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    height: 100%;
    width: 100%;
    text-align: center;
}

/*Icons*/
.delete{
    float: right;
    margin-top: 10px;
    margin-right: -2px;
    cursor: pointer;
}
.tdot{
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
}
/*******/



.confirmDelete{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 500px;
    height: auto;
    padding: 1.1rem;
    text-align: center;
    font-family: sans-serif;
    border-radius: 5px;
}
.btn-confirm{
    border: 0;
    padding: 0.7rem 5rem;
    margin: 1.6rem 0.8rem 0.3rem 0.8rem;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: #fff;
}
.btn-green{
    background-color: green;
    color: #fff;
}