body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 





.postButtons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.postButtons button{
    padding: 15px 60px;
    margin: 10px;
    cursor: pointer;
    background-color: #bb3;
    border: 0;
    font-weight: bold;
}
.postButtons a{
    text-decoration: none;
    color: #000;
}

.postButtons button:hover{
    background-color: #aa1;
}






















/* Set a style for the rest of the elements besides the header elements on the index.html page */
                                 
