body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 





.postButtons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.postButtons button{
    padding: 15px 60px;
    margin: 10px;
    cursor: pointer;
    background-color: #bb3;
    border: 0;
    font-weight: bold;
}
.postButtons a{
    text-decoration: none;
    color: #000;
}

.postButtons button:hover{
    background-color: #aa1;
}


.createPost{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 90%;
    z-index: 1;
    padding: 2rem;
    margin: auto;
}
.createPost h1{
    align-self: center;
    margin-bottom: 20px;
}
.createPost label{
    margin-top: 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.createPost input[type="text"]{
    width: 50%;
    padding: 0.6rem 0.7rem;
    background-color: #eee;
    border: 0;
    font-size: 1.5rem;
}
.createPost textarea{
    height: 400px;
    width: 100%;
    background-color: #eee;
    font-size: 1.3rem;
}
.createPost input[type="button"]{
    background-color: limegreen;
    cursor: pointer;
    color: #fff;
    font-size: 1.1rem;
    border: 0;
    padding: 1rem 5rem;
    align-self: center;
    margin-top: 20px;
}
.createPost input[type="button"]:hover{
    background-color: forestgreen;
}



















/* Set a style for the rest of the elements besides the header elements on the index.html page */
                                 
